@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <pre>@Model.Message</pre>

    @if (!Model.ModelState.IsValid)
    {
        foreach(var err in Model.ModelState.Values.SelectMany(v => v.Errors))
        {
            <div class="alert alert-danger">@err.ErrorMessage</div>
        }
    }

    <p>Speech to Text</p>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="UploadedFile" />
        <button type="submit">Upload</button>
    </form>
</div>
